<h1>Here is the list of all movies</h1>

<div id="container">

{{#each result}}
<div style="border: solid green; padding:0 0 10px 10px">
<h2>{{title}}</h2>

<p>Genre: {{genre}}</p>
<h3>Cast: 
{{#each celebrity_id}}
{{name}}
{{/each}}
</h3>
<a href="/movies/{{_id}}">Link to Movie</a>
<a style="margin-left:5px" href="/books/{{_id}}/edit">Edit Movie</a>
<form action="/movies/{{_id}}/delete" method="POST">
    <button>Delete Movie</button>
</form>
</div>
<br>
{{/each}}
</div>